.container {
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #B4C5BE;
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.overlayBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  transition: background-color .4s ease-in-out;
}

.overlayBackground_expanded {
  background-color: rgba(0,0,0,0.6);
}

.revealedPic {
  height: auto;
  transition: transform .4s ease-in-out, clip-path .4s ease-in-out, box-shadow .4s ease-in-out;
  backface-visibility: hidden;
}