.container {
  position: relative;
  opacity: .01;
}

.visible {
  opacity: 1;
}

.content {
  max-height: 100vh;
}

.square {
  position: fixed;
  background: red;
  width: 50px; 
  height: 50px;
  top: 50vh; left: 50%;
  z-index: 4;
  margin-bottom: 50px;
}

.initLayer {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  flex-direction: column;
}

.initTexts {
  padding-top: 100px;
  text-align: center;
}

.name {
  font-family: "Bellefair";
  font-size: 35px;
}

.job {
  font-family: "Bellefair";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 7px;
}